# Minimum dependencies for the data pipeline.
# Tested with Python 3.12.

torch>=2.1
torchvision
numpy
tensorboard
tqdm
matplotlib
scipy
scikit-image
scikit-learn
scikit-learn
nibabel>=5.0
numpy>=1.26
scipy>=1.11
